<h1> Delete this book??? </h1>


<h1>{{author.first_name}} {{author.last_name}}</h1>
<img src={{author.portrait}} alt='cover'>

<a href='/authors/delete/{{author.id}}/end'> DELETE {{author.last_name}}</a>
