<h1> Edit: {{book.title}} </h1>

<section>
  <form action="/books/edit/{{book.id}}" method="POST">
    <label for="title">Book Title</label>
    <input name='title' type='text' id='title' value='{{book.title}}'>

    <label for="genre">Genre</label>
    <input name='genre' type='text' id='genre' value='{{book.genre}}'>

    <label for="description">Description</label>
    <textarea rows='10' cols='30' name='description' id='description'>{{book.description}}</textarea>

    <label for="coverURL">Cover Image</label>
    <input name='coverURL' type='url' id='coverURL' value='{{book.coverURL}}'>

    <input class='new' type="submit" value="Submit">
  </form>
</section>
