<h1> Books </h1>

<section class='list'>
{{#each books}}
  <div class='main_div'>
  <img class='cover_pic' src={{coverURL}} alt='cover'>
  <div class='book_title'>
    <div>
      <h2>
        <a href='/books/detail/{{id}}'>{{title}}</a>
      </h2>
      <h3>{{genre}}</h3>
      <p> {{description}} </p>
    </div>
    <div class='list_icons'>
      <a href='/books/delete/{{id}}'>
        <i class='fa fa-remove'></i>
      </a>
      <a href='/books/edit/{{id}}'>
      <i class="fa fa-pencil-square-o"></i>
      </a>
    </div>
</div>
</div>
{{/each}}
 <a href="/books/add"><button class='new'>Add Book</button> </a>
</section>
