
<h1> List of Authors </h1>
<h2> <a href="/authors/add">Add Author </a></h2>

<section class='list'>
{{#each authors}}
<div>
<img class='author_pic' src={{portrait}} height='150px' width='150px' alt='cover'>
<h3><a href='/authors/detail/{{id}}'>{{first_name}} {{last_name}}</a></h3>
<p> {{bio}} </p>
<p> <a href='/authors/delete/{{id}}'>DELETE</a></p>
<p> <a href='/authors/edit/{{id}}'>EDIT</a></p>
</div>
{{/each}}
</section>
