<h1> List of Authors </h1>
<h2> <a href="/books/add">Add Author </a></h2>

<section class='list'>
{{#each authors}}
<div>
<h2><img src={{portrait}} height='75px' width='75px' alt='cover'>
  <a href='/books/detail/{{id}}'>{{title}}</a></h2>
<h3>{{first_name}} {{last_name}}</h3>
<p> {{bio}} </p>
<p> <a href='/authors/delete/{{id}}'>DELETE</a></p>
<p> <a href='/authors/edit/{{id}}'>EDIT</a></p>
</div>
{{/each}}
</section>
